@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
  font-family: "EB Garamond", cursive;
  font-size: larger;
  font-weight:800;
}

.footer {
  font-size: medium;
  font-weight:800;
}

.tag {
  font-family: "EB Garamond", cursive;
  font-size: medium;
  font-weight:800;
}
